body{
	background-color: #262626;
}
p {
	/*width: 60vw;*/
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: white;
	margin: 20px 20px 0 20px;
	text-align: center;
}

#mapid { 
	height: 80vh;
	width: 95vw;
	align-content: center;
	margin: 10px auto;
}

