.letter {

	width:200px; /*resize as you see fit */
	height:300px; /*resize as you see fit */
	display:inline-block; /* this makes block level elements act like letters (so they sit next to eachother) */
	border:1px solid #96897B; /*feel free to remove or hide this rule */
	background-color:#96897B;
  position: relative; /* IMPORTANT: any element with position:absolute inside this container will now be relative to bounds of this element; */
  }
   #parallelogram-A {
   	position: absolute;
   	top:50px;
   	left:37px;
      width: 45px;
      height: 200px;
      transform: skew(-20deg);
      background: #F46036;
  }

      #triangle-up-A {
      	position: absolute;
      	top: 150px;
      	left: 100px;
      width: 0;
      height: 0;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      border-bottom: 100px solid #F46036;
    }

  #parallelogram-B {
   	position: absolute;
   	top:50px;
   	left:37px;
      width: 45px;
      height: 200px;
      transform: skew(-20deg);
      background: #F46036;}

  #parallelogram-B1 {
   	position: absolute;
   	top:50px;
   	left:110px;
      width: 80px;
      height: 90px;
      transform: skew(-20deg);
      background: #F46036;}

  #parallelogram-B2 {
   	position: absolute;
   	top:160px;
   	left:70px;
      width: 80px;
      height: 90px;
      transform: skew(-20deg);
      background: #F46036;
  }
 
   #circle-C {
    position: absolute;
    top:50px;
    left:25px;
      width: 150px;
      height: 200px;
      background: #F46036;
      border-radius: 50%}

    #circle-C1 {
    position: absolute;
    top:92px;
    left:75px;
      width: 150px;
      height: 110px;
      background: #96897B;
      border-radius: 35%}

    #square-C {
      position: absolute;
      top: 30px;
      left: 125px;
      width: 90px;
      height: 230px;
      background: #96897B;
      transform: skew(-15deg);}

    #parallelogram-C1 {
    position: absolute;
    top:50px;
    left:92px;
      width: 60px;
      height: 43px;
      transform: skew(-20deg);
      background: #F46036;
    }
    
#parallelogram-E {
    position: absolute;
    top:50px;
    left:37px;
      width: 45px;
      height: 200px;
      transform: skew(-20deg);
      background: #F46036;}

    #parallelogram-E1 {
    position: absolute;
    top:50px;
    left:120px;
      width: 70px;
      height: 43px;
      transform: skew(-20deg);
      background: #F46036;}

    #parallelogram-E2 {
    position: absolute;
    top:135px;
    left:93px;
      width: 50px;
      height: 20px;
      transform: skew(-20deg);
      background: #F46036;}

    #parallelogram-E3 {
    position: absolute;
    top:206px;
    left:63px;
      width: 70px;
      height: 43px;
      transform: skew(-20deg);
      background: #F46036;
    }

    #parallelogram-F {
    position: absolute;
    top:50px;
    left:37px;
      width: 45px;
      height: 200px;
      transform: skew(-20deg);
      background: #F46036;}

    #parallelogram-F1 {
    position: absolute;
    top:50px;
    left:120px;
      width: 70px;
      height: 43px;
      transform: skew(-20deg);
      background: #F46036;}

    #parallelogram-F2 {
    position: absolute;
    top:135px;
    left:93px;
      width: 50px;
      height: 20px;
      transform: skew(-20deg);
      background: #F46036;
    }

    #circle-G {
    position: absolute;
    top:50px;
    left:25px;
    width: 150px;
    height: 200px;
    background: #F46036;
    border-radius: 50%}

    #circle-G1 {
    position: absolute;
    top:92px;
    left:75px;
    width: 150px;
    height: 110px;
    background: #96897B;
    border-radius: 35%}

    #square-G {
    position: absolute;
    top: 30px;
    left: 125px;
    width: 90px;
    height: 230px;
    background: #96897B;
    transform: skew(-15deg);}

    #parallelogram-G1 {
    position: absolute;
    top:50px;
    left:92px;
    width: 60px;
    height: 43px;
    transform: skew(-20deg);
    background: #F46036;}

    #parallelogram-G2 {
    position: absolute;
      top: 161px;
      left: 120px;
      width: 30px;
      height: 90px;
      background: #F46036;
      transform: skew(-15deg);
    }
    

    #parallelogram-H {
    position: absolute;
    top:50px;
    left:37px;
      width: 40px;
      height: 200px;
      transform: skew(-20deg);
      background: #F46036;}

    #parallelogram-H1 {
    position: absolute;
    top:135px;
    left:90px;
      width: 50px;
      height: 20px;
      transform: skew(-20deg);
      background: #F46036;}

    #parallelogram-H2 {
    position: absolute;
    top:50px;
    left:120px;
      width: 45px;
      height: 200px;
      transform: skew(-20deg);
      background: #F46036;
    }

    #parallelogram-I {
    position: absolute;
    top:50px;
    left:100px;
    width: 70px;
    height: 20px;
    transform: skew(-20deg);
    background: #F46036;
    }
    #parallelogram-I1 {
    position: absolute;
    top:50px;
    left:80px;
    width: 45px;
    height: 200px;
    transform: skew(-20deg);
    background: #F46036;}

    #parallelogram-I2 {
    position: absolute;
    top:230px;
    left:35px;
    width: 70px;
    height: 20px;
    transform: skew(-20deg);
    background: #F46036;
    }

    #parallelogram-J {
    position: absolute;
    top:50px;
    left:120px;
    width: 70px;
    height: 20px;
    transform: skew(-20deg);
    background: #F46036;}

    #parallelogram-J1 {
    position: absolute;
    top:50px;
    left:100px;
    width: 45px;
    height: 200px;
    transform: skew(-20deg);
    background: #F46036;}

    #parallelogram-J2 {
    position: absolute;
    top:170px;
    left:25px;
    width: 45px;
    height: 80px;
    transform: skew(-20deg);
    background: #F46036;
    }

    #parallelogram-K {
    position: absolute;
    top:50px;
    left:37px;
      width: 45px;
      height: 200px;
      transform: skew(-20deg);
      background: #F46036;}
    
      #triangle-topleft-K {
      position: absolute;
      top:50px;
      left:110px;
      width:0;
      height: 0;
      border-top: 100px solid #F46036;
      border-right: 80px solid transparent;
      transform: skew(-20deg)}

    #triangle-bottomleft-K {
      position: absolute;
      top:150px;
      left:75px;
      width: 0;
      height: 0;
      border-bottom: 100px solid #F46036;
      border-right: 100px solid transparent;
      transform: skew(-20deg)}


    #parallelogram-L {
    position: absolute;
    top:50px;
    left:67px;
    width: 45px;
    height: 200px;
    transform: skew(-20deg);
    background: #F46036;}

    #parallelogram-L1 {
    position: absolute;
    top:230px;
    left:90px;
    width: 80px;
    height: 20px;
    transform: skew(-20deg);
    background: #F46036;
    }


    #parallelogram-M {
    position: absolute;
    top:50px;
    left:37px;
      width: 40px;
      height: 200px;
      transform: skew(-20deg);
      background: #F46036;
    }

    #chevron-M2:before {
      content: '';
      position: absolute;
      top: 70px;
      left: 85px;
      height: 3%;
      width: 20%;
      background: #F46036;
      transform: skew(0deg, 40deg);
    }
    #chevron-M3:after {
      content: '';
      position: absolute;
      top: 70px;
      right: 35px;
      height: 3%;
      width: 20%;
      background: #F46036;
      transform: skew(0deg, -40deg);
    }
    #parallelogram-M2 {
    position: absolute;
    top:50px;
    left:120px;
      width: 45px;
      height: 200px;
      transform: skew(-20deg);
      background: #F46036;
    }
    #parallelogram-M3 {
    position: absolute;
    top:50px;
    left:77px;
      width: 7px;
      height: 200px;
      transform: skew(-20deg);
      background: #96897B;
    }
    #parallelogram-M4 {
    position: absolute;
    top:50px;
    left:116px;
      width: 7px;
      height: 200px;
      transform: skew(-20deg);
      background: #96897B;
    }


    #parallelogram-N {
    position: absolute;
    top:50px;
    left:37px;
      width: 40px;
      height: 200px;
      transform: skew(-20deg);
      background: #F46036;
    }
    #parallelogram-N1 {
    position: absolute;
    top:50px;
    left:90px;
      width: 8px;
      height: 200px;
      background: #F46036;
    }

    #parallelogram-N2 {
    position: absolute;
    top:50px;
    left:120px;
      width: 45px;
      height: 200px;
      transform: skew(-20deg);
      background: #F46036;
    }
    #parallelogram-N3 {
    position: absolute;
    top:50px;
    left:77px;
      width: 7px;
      height: 200px;
      transform: skew(-20deg);
      background: #96897B;
    }
    #parallelogram-N4 {
    position: absolute;
    top:50px;
    left:116px;
      width: 7px;
      height: 200px;
      transform: skew(-20deg);
      background: #96897B;
    }

    #circle-O {
    position:absolute;
    top:50px;
    left:20px;
    width: 140px;
    height: 200px;
    background: #F46036;
    border-radius: 50% 50% 50% 50%/60% 60%;
    transform: skew(-20deg);
    }
    #circle-O1 {
    position:absolute;
    top:83px;
    left:60px;
    width: 65px;
    height: 130px;
    background: #96897B;
    border-radius: 50% 50% 50% 50%/60% 60%;
    transform: skew(-25deg);
    }


    #circle-Q {
    position:absolute;
    top:50px;
    left:20px;
    width: 140px;
    height: 200px;
    background: #F46036;
    border-radius: 50% 50% 50% 50%/60% 60%;
    transform: skew(-20deg);}

    #circle-Q1 {
    position:absolute;
    top:83px;
    left:60px;
    width: 65px;
    height: 130px;
    background: #96897B;
    border-radius: 50% 50% 50% 50%/60% 60%;
    transform: skew(-25deg);}

    #Qtail {
      content: '';
      position: absolute;
      top: 90px;
      right: 70px;
      height: 55%;
      width: 15%;
      background: #F46036;
      transform: rotate(-10deg);
      transform: skew(20deg);
    }

    #parallelogram-R {
    position: absolute;
    top:50px;
    left:35px;
      width: 43px;
      height: 200px;
      transform: skew(-20deg);
      background: #F46036;}

  #parallelogram-R1 {
    position: absolute;
    top:50px;
    left:107px;
      width: 80px;
      height: 90px;
      transform: skew(-20deg);
      background: #F46036;}

  #triangle-up-R {
        position: absolute;
        top: 150px;
        left: 54px;
      width: 0;
      height: 0;
      border-left: 30px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 100px solid #F46036;
      transform: skew(-3deg);
    }

    #parallelogram-S {
    position: absolute;
    top:50px;
    left:120px;
    width: 45px;
    height: 50px;
    transform: skew(-20deg);
    background: #F46036;}

    #parallelogram-S1 {
    position: absolute;
    top:50px;
    left:60px;
    width: 45px;
    height: 100px;
    transform: skew(-20deg);
    background: #F46036;}

  #parallelogram-S3 {
    position: absolute;
    top:150px;
    left:80px;
    width: 45px;
    height: 100px;
    transform: skew(-20deg);
    background: #F46036;}

    #parallelogram-S4 {
    position: absolute;
    top:200px;
    left:18px;
    width: 45px;
    height:50px;
    transform: skew(-20deg);
    background: #F46036;
    }

    #parallelogram-T {
    position: absolute;
    top:50px;
    left:50px;
    width: 140px;
    height: 20px;
    transform: skew(-20deg);
    background: #F46036;
    }
    #parallelogram-T1 {
    position: absolute;
    top:75px;
    left:60px;
    width: 45px;
    height: 180px;
    transform: skew(-20deg);
    background: #F46036;
    }

    #parallelogram-U {
    position: absolute;
    top:50px;
    left:37px;
    width: 40px;
    height: 200px;
    transform: skew(-20deg);
    background: #F46036;
    }
    #parallelogram-U1 {
    position: absolute;
    top:50px;
    left:120px;
    width: 40px;
    height: 200px;
    transform: skew(-20deg);
    background: #F46036;}

    #parallelogram-U2 {
    position: absolute;
    top:230px;
    left:50px;
    width:30px;
    height: 20px;
    transform: skew(-20deg);
    background: #F46036;
    }

    
    #parallelogram-V {
    position: absolute;
    top:50px;
    left:100px;
      width: 40px;
      height: 200px;
      transform: skew(-20deg);
      background: #F46036;
    }

    #opposite-parallelogram-V1 {
      content: '';
      position: absolute;
      top: 50px;
      left: 45px;
      height: 67%;
      width: 6%;
      background: #F46036;
      transform: rotate(-10deg);}
      

    #parallelogram-W {
    position: absolute;
    top:50px;
    left:57px;
      width: 40px;
      height: 200px;
      transform: skew(-20deg);
      background: #F46036;
    }

    #parallelogram-W2 {
    position: absolute;
    top:50px;
    left:120px;
      width: 40px;
      height: 200px;
      transform: skew(-20deg);
      background: #F46036;
    }
    
     #v {
      position: relative;
      text-align: center;
      padding: 12px;
      margin-bottom: 6px;
      height: 10px;
      width: 10px;}

    #vbefore {
      content: '';
      position: absolute;
      top: 50px;
      left: 65px;
      height: 67%;
      width: 6%;
      background: #F46036;
      transform: rotate(-10deg);}

    #vbefore1 {
      content: '';
      position: absolute;
      top: 50px;
      left: 0px;
      height: 67%;
      width: 6%;
      background: #F46036;
      transform: rotate(-10deg);
    }

    #parallelogram-X {
    position: absolute;
    top:50px;
    left:80px;
    width: 40px;
    height: 200px;
    transform: skew(-20deg);
    background: #F46036;}

    #opposite-parallelogram-X1 {
      content: '';
      position: absolute;
      top: 43px;
      right:100px;
      height: 73%;
      width: 6%;
      background: #F46036;
      transform: rotate(-30deg);
    }

    #parallelogram-Y {
    position: absolute;
    top:50px;
    left:100px;
    width: 40px;
    height: 200px;
    transform: skew(-20deg);
    background: #F46036;}

    #opposite-parallelogram-Y1 {
      content: '';
      position: absolute;
      top: 50px;
      right:115px;
      height: 40%;
      width: 6%;
      background: #F46036;
      transform: rotate(-30deg);}

    #parallelogram-Y2 {
    position: absolute;
    top:50px;
    left:90px;
    width:10px;
    height: 200px;
    transform: skew(-20deg);
    background: #96897B;
    }

    #parallelogram-Z {
    position: absolute;
    top:50px;
    left:25px;
    width: 60px;
    height: 20px;
    transform: skew(-20deg);
    background: #F46036;
    }
    #parallelogram-Z1 {
    position: absolute;
    top:50px;
    left:60px;
    width: 45px;
    height: 200px;
    transform: skew(-20deg);
    background: #F46036;
    }
    #parallelogram-Z2 {
    position: absolute;
    top:230px;
    left:80px;
    width: 60px;
    height: 20px;
    transform: skew(-20deg);
    background: #F46036;
    }

    #parallelogram-D {
    position: absolute;
    top:50px;
    left:37px;
      width: 45px;
      height: 200px;
      transform: skew(-20deg);
      background: #F46036;
  }
  #parallelogram-D1 {
    position: absolute;
    top:50px;
    left:90px;
      width: 80px;
      height: 200px;
      transform: skew(-20deg);
      background: #F46036;
  }

    #parallelogram-P {
    position: absolute;
    top:50px;
    left:37px;
      width: 45px;
      height: 200px;
      transform: skew(-20deg);
      background: #F46036;
  }
  #parallelogram-P1 {
    position: absolute;
    top:50px;
    left:110px;
      width: 80px;
      height: 90px;
      transform: skew(-20deg);
      background: #F46036;
  }

  