

p{
	color:#ec9613;
	font-size:50px;
	font-family:Ubuntu;
	}
a{
	color:red;
	font-size:30px;
	font-family:Ubuntu;
}
#para1{
	color:black;
	font-size:30px;
	font-family:Ubuntu;
	margin:0 0 10px 0;
}
