
body{
	background-color: #36393B;
}
h1{
	color:#6D80A6;
	font-size:50px;
	font-weight: 300px;
	font-family:Ubuntu;
	text-align: center;
	}
a{
	color:#ADA296;
	font-size:30px;
	font-family:Ubuntu;
}
