p{
  color: #ff8a54;
  font-size: 30px;
  font-family: arial;
}

#box{
  position: absolute;
  width: 1500px;
  height: 400px;
  bottom: 0px;
  left:1.1vw;
  z-index: 1;
  opacity: 0.8;
}
#box 
    {animation: colorchange 40s infinite; }

    @keyframes colorchange
    {
      40% {background: #fcd7fa;}
      30% {background: #fff16f;}
      30% {background: #d638b9;}
    }

img {
  position: absolute;
  bottom: 0px;
  z-index: 2;
}